@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <div class=" = panel-heading">
        <h1 class="panel-title">Toronto Raptors</h1>
    </div>
    <div class="panel-body">
        <p class="lead">The best site for all your jerseys, hats, memorabilia and more!</p>
        <p><a href="http://www.nba.com/raptors" class="btn btn-primary btn-lg">Official raptors website &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="../images/tor.png" alt="Generic placeholder image" width="140" height="140">
        <h2>@Html.ActionLink("Product", "index", "Product")</h2>
        <p>
            Lorizzle check it out pot fizzle amet, consectetuer adipiscing sheezy. Daahng dawg funky fresh velizzle,
            you son of a bizzle izzle, da bomb sheezy, gravida vel, phat. Pellentesque eget tortor. Sed erizzle.
            Fusce at dolor turpis tempizzle uhuh ... yih!. Maurizzle i'm in the shizzle nibh izzle turpizzle.
            Go to hizzle izzle doggy. Owned tellivizzle rhoncus fo shizzle. In dizzle gangster brizzle dictumst. Doggy dapibizzle.
        </p>
        <!--<p><a class="btn btn-default">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="../images/tor.png" alt="Generic placeholder image" width="140" height="140">
        <h2>@Html.ActionLink("Customer", "Index", "Customer")</h2>
        <p>
            Praesent nizzle mi nizzle mauris ass bibendizzle. Aliquizzle pot viverra lectizzle. Crizzle fizzle enizzle
            izzle boom shackalack sodalizzle boofron. Aliquam lobortis, mauris hizzle dapibus break it down,
            nulla go to hizzle bibendum metus, izzle venenatis augue dui izzle mah nizzle. Vivamizzle things
            lacizzle izzle ipsizzle. Vivamus arcu funky fresh, fermentizzle sizzle amizzle, i saw beyonces tizzles and my
            pizzle went crizzle
        </p>
        <!--<p><a class="btn btn-default">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="../images/tor.png" alt="Generic placeholder image" width="140" height="140">
        <h2>@Html.ActionLink("Orders", "Index", "Orders")</h2>
        <p>
            Check it out aliquet mattizzle pede. Shizznit pulvinizzle aliquizzle dolor. Break yo neck, yall izzle enim, tempor nizzle,
            owned break yo neck, yall, pizzle in, sem. Mauris tellivizzle massa quis risizzle ma nizzle you son of a bizzle.
            Boom shackalack own yo' turpis at sem i saw beyonces tizzles and my pizzle went crizzle shizznit.
        </p>
        <!--<p><a class="btn btn-default">Learn more &raquo;</a></p>-->
    </div>
</div>